<div class="container" style="border: none; ">
    <!-- <h3 style="color: lightseagreen; text-align: center; border: none;"> YouUp<i class="fa fa-trademark" aria-hidden="true"></i>@2020</h3> -->
</div>

</body>
</html>