<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouUp</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../template/tag_template.css">
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class="text">
    <nav style="background-color: deeppink;  border: none;" class=" text nav navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" id="brand" >YouUp</a>
        <!-- <div style="border : none;" class="container"> -->
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
            
            <div style="border: none;" class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About <span class="sr-only"></span></a>
                </li>
                <li>&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;</li>
                
                <form action="/" method="POST" class="form-inline my-2 my-lg-0" >
                    <input class="form-control mr-sm-2" type="text" name = "user" placeholder="Search User With UserName" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="search">Search</button>
                    
                </form>

                </ul>
                <ul class="text nav navbar-nav navbar-right text" >
                
                <% if(!currentUser){ %> 
                <li class="text nav-link"><a href="/user/login">Login<span>&ThickSpace;</span><i class="fa fa-user-plus"></i></a></li>
                <li class="text nav-link"><a href="/user/register">Sign Up<span>&ThickSpace;</span><i class="fa fa-user"></i></a></li>
                <% }else{  %>
                    <li class="text nav-link"><a href="/user/profile/<%= currentUser.username %>"><%= currentUser.username %> <span>&ThickSpace;</span><i class="fas fa-user-shield "></i></a></li>
                    <li class="text nav-link"><a href="/user/logout">Logout<span>&ThickSpace;</span><i class="fa fa-user"></i></a></li>
                <% }; %> 

                </ul> 
            <!-- </div> -->
        </div> 
    </nav>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1">