<%- include('../partials/header') -%> 

<style>
    body{
        /* background-image:url('https://images.unsplash.com/photo-1510793965583-3cc7f8cca399?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60'); */
        /* background-size: cover; */
        background-color: darkslategrey;
    }
</style>

<div class="row">
    <div class="container">
        <h1 style="color: lightseagreen; text-align: center; margin: 2% auto;">Sign Up</h1>

        <div style="width:50%; margin:2rem auto;">

            <form action="/user/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Usermame">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="field" placeholder="Field">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="place" placeholder="Living Place">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="pincode" placeholder="PIN Code">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
                </div>  
            </form>

        </div>

    </div>
</div>

<%- include('../partials/footer') -%>