<%- include('../partials/header'); -%> 
<link rel="stylesheet" href="homepage.css">
<div class="container top text" style="text-align: center;color: cornflowerblue;">
    <h1>Welcome! to YouUp</h1>
</div>
<div>
    <h3 style="text-align: center;" >
        <a href="/alltag"><button class="btn btn-primary">View All Tags</button></a>
    </h3>
</div>
<div class="space ">
    <div class="container">
        <!-- <p>
            <h1 style="text-align: center; color: rgb(23, 114, 126);">
                About
            </h1>
        </p> -->
        <p > 
            <h3 class="text space" style="text-align: center; color: rgb(23, 114, 126);">Build Yourself with YouUp......</h3>
        </p>

    </div>
</div>

<%- include('../partials/footer'); -%> 