body{
    /* background-image: url("https://images.unsplash.com/photo-1595663823598-931cd6b854fe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG9seW1waWNzfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"); */
    background-position: center;
    /* width: auto; */
    /* height: inherit; */
}

.text{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
