<%- include('../partials/header'); -%> 
<link rel="stylesheet" href="homepage.css">
<div class="container top text" style="text-align: center;color: cornflowerblue;">
    <h1>Welcome! to YouUp</h1>
</div>
<div>
    <h3 style="text-align: center;" >
        <a href="/alltag"><button class="btn btn-primary">View All Tags</button></a>
    </h3>
</div>

<%- include('../partials/footer'); -%> 