<%- include('../partials/header'); -%> 
<link rel="stylesheet" href="../css/app.css">
<style>
    body{
        background-image: url("https://images.unsplash.com/photo-1533483058225-847263bb1f8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    }
</style>
<div class="space ">
    <div class="container">
        <p>
            <h1 style="text-align: center; color: rgb(23, 114, 126);">
                About
            </h1>
        </p>
        <p > 
            <h3 class="text space">We are so glad to see you here .
            This site is build for anyone and anyone is free to visit, use and find any information.
            You can enhance your sckill using this site and can build up your knowlede.
            Please, Visit our site , take a while we sure you will get more info than you have.
            This site is more based on user more user will come site will more develop .
            If you want to contribute in site than you can do with giving your valuale feedback.</h3>
        </p>
        <p >
            <h2 class="text space">Thanking you</h2>
        </p>
    </div>
</div>

<%- include('../partials/footer'); -%> 